/* essa parte serve para remover os seletores de numeros do input type number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
/* ------------------------------------------------------------r*/
.mostraResultado{
font-size: 30px;
font-weight: bold;
margin:0;
}

.botoes{
    margin: 5px;
    border:3px solid black;
    font-weight: bold;
}
.centralizar{
    text-align: center;
}
#VB{
    margin-bottom: 30px;
}

.margem{
    border: 5px solid red;
}